<div class="container-fluid" *ngIf="pageStage === 1">
    <div class="main-body-content m-2">  
      <p-table #dt  [columns]="dataHeader" [value]="RTEdata" [resizableColumns]="true" >
          <ng-template let-rteData pTemplate="caption">
            <div class="row p-1">
              <div class="col-sm-6">
                  <div class="text-lg-left mt-3">
                    <h5>Right To Education - Seat Allocation Status</h5>
                  </div>
              </div>
              <div class="col-sm-6 p-1">
                  <div class="text-right">
                       <input type="text" pInputText size="30" placeholder="Right To Education Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>              
               </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-rteData>
            <tr class="text-center">
              <th class="sno-header-layout">S.No</th>
              <th *ngFor="let col of rteData" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rteData let-rowData let-columns="columns" let-i="rowIndex" >
            <tr class="text-center">
              <td class="sno-header-layout text-center"> {{i+1}} </td>
              <td class="text-left"><a href="javascript:void(0)" (click)="onSelectedDistrict(rteData.district_name)"> {{rteData.district_name}} </a></td>
              <td>{{rteData.tot}}</td>
              <td>{{rteData.school_count}}</td>
              <td style="text-align: center;">{{rteData.rte_seats}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr class="text-center" *ngIf="noDataFound" >
              <td colspan="5"> No Data Found </td>
            </tr>
          </ng-template>
        </p-table>
      
      </div> 
    </div> 
    
    <!-- Stage 2 -->
  
    <div class="container-fluid" *ngIf="pageStage === 2">
      <div class="main-body-content m-2">  
        <p-table #dt  [columns]="dataHeader2" [value]="rteDataSchool" [resizableColumns]="true" >
            <ng-template let-rteData pTemplate="caption">
              <div class="row p-1">
                <div class="col-sm-6">
                    <div class="text-lg-left mt-3">
                      <h5>Right To Education - Seat Allocation Status</h5>
                    </div>
                </div>
                <div class="col-sm-6 p-1">
                    <div class="text-right">
                         <input type="text" pInputText size="30" placeholder="Right To Education Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>              
                 </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-rteData>
              <tr class="text-center">
                <th class="sno-header-layout">S.No</th>
                <th *ngFor="let col of rteData" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rteData let-rowData let-columns="columns" let-i="rowIndex" >
              <tr class="text-center">
                <td class="sno-header-layout"> {{i+1}} </td>
                <td class="text-left"> {{rteData.edu_dist_name}}</td>
                <td class="text-left">{{rteData.block_name | uppercase}}</td>
                <td>{{rteData.udise_code}}</td>
                <td class="text-left">{{rteData.school_name}}</td>
                <td>{{rteData.section_nos}}</td>
                <td>{{rteData.rte_seats}}</td>
                <td>{{rteData.school_count === "1" ? "Yes" : "No" }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr class="text-center" *ngIf="noDataFound" >
                <td colspan="5"> No Data Found </td>
              </tr>
            </ng-template>
          </p-table>
        
        </div> 
      </div>      
  
  