<div class="content-wrapper p-0">
  <!-- <div class="col-lg-12 row flex-end">
    <div class="profile-band-block url" (click)="showConfirmation()">
      <div class="profile-img pro-sec">
          <i class="fa fa-sign-out" style="font-size:24px;padding-bottom: 8px;color: #333;" ></i>
       
      </div>
      <p>
          <span class="logout-text">Logout</span>
       
      </p>
    
  </div>
  <p-dialog [(visible)]="display"  [modal]="true" 
[responsive]="true" 
[style]="{width:'45%',height:'50%'}" 
[minY]="70" 
[maximizable]="true" 
[baseZIndex]="10000" >
    <p-header>
    Confirmation
    </p-header>
    <span> Are you sure you want to Logout ?</span>
 
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cancel()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="onLogout()"></button> 
    </p-footer>
</p-dialog>
  </div> -->
    <router-outlet></router-outlet>
</div>

