
.center-image {
  color: #e83e8c;
 // display: block;
 // margin-left: auto;
  //margin-right: auto;
 // text-align: center;
  font-weight:500;
  // width: 50%;
}


  .center {
    //display: block;
    display: initial;
    margin-left: auto;
    margin-right: auto;
    
    // width: 50%;
  }

  .center-text {
    font-weight:500;
  }