<div style="overflow: none;">
<div style="background-color: #2d7464;">
    <div class="row w-100">
        <div class="col-md-1">
            <img src="assets/img/logo.svg" class="exam-img" alt="Logo Image" />
        </div>
        <div  class="col-md-3">
            <label style="color:white;padding-top: 25px;font-size:18px;font-weight: 600;">கல்வி உரிமைச் சட்டம்</label>
            <label style="color:yellowgreen">TAMIL NADU</label>
        </div>
        <div class=" col-md-4"></div>
        <div class=" col-md-2 text-right" style="padding-top: 25px;">
            <button class="form-control" style="background-color: yellowgreen;color:white;font-weight: 500;" (click)="onLogin()">View School List</button>
           
         </div>
        <div class=" col-md-2 text-right" style="padding-top: 25px;">
            <button class="form-control" style="background-color: yellowgreen;color:white;font-weight: 500;" (click)="onContact()">Contact Us</button>
           
         </div>
    </div>
</div>


<div class="row"  style="padding-bottom: 15px;">
    <div class="col-md-6" style="padding-top:1%;padding-left:2%">
        <!-- <img src="assets/img/download.jpeg" class="exam-img" alt="Logo Image" /> -->
        <img src="assets/img/download2.jpg" height="100%" width="100%">
    </div>
    <div class="col-md-6" style="padding-top:1%;padding-right:2%">
        <p-card >
            <div class="head-align">
                <label>Application to Private Schools under the provisions of Right To Education Act,2009 Section
                    12.1(c)</label>
            </div>
            <!-- <div class="row" style="padding-top: 10px;padding-bottom: 15px;">
                <div class="col-md-6">
                    <button class="form-control" style="background-color: yellowgreen; color:white;font-weight:600;font-size:14px" (click)="onStart()"> Start Application</button>
                </div>
                <div class="col-md-6">
                    <button class="form-control" style="background-color: yellowgreen; color:white;font-weight:600;font-size:14px" (click)="resumeDialog()">Resume Application</button>
                </div> 
            </div> -->
            <div>
                <!-- <label style="font-weight:400;" >Online Application Start Date  <span style="padding-left: 10px;">:</span><span style="color: yellowgreen;padding-left: 10px;">27, August 2020 at 10.00Am</span></label>
                <label style="font-weight:400">Online Application End Date     <span style="padding-left: 18px;">:</span> <span style="color: yellowgreen;padding-left: 10px;">25, Sep 2020 at Midnight</span></label> -->
                <label style="font-weight:400;" >Round 2 Application Start Date<span style="padding-left: 10px;">:</span><span style="color: yellowgreen;padding-left: 10px;">12, October 2020 </span></label>
                <label style="font-weight:400">Round 2 Application End Date<span style="padding-left: 18px;">:</span> <span style="color: yellowgreen;padding-left: 10px;">7, November 2020</span></label>
            </div>
            <div style="font-weight:500;color:#2d7464">
                <label>Essential Documents for Application</label>
            </div>
            <div style="font-weight:400;padding-left:5%">
                <label ><span style="color: yellowgreen;padding-right: 10px;">1.</span> Photograph of Applicant(150 px X 175 px)</label>
            </div>
            <div style="font-weight:400;padding-left:5%">
                <label><span style="color: yellowgreen;padding-right: 10px;">2.</span> Birth Certificate</label>
            </div>
            <div style="font-weight:400;padding-left:5%">
                <label><span style="color: yellowgreen;padding-right: 10px;">3.</span> AADHAR / Ration Card of Parent or Guardian</label>
            </div>
            <div style="font-weight:400;padding-left:5%">
                <label><span style="color: yellowgreen;padding-right: 10px;">4.</span> Income Certificate for Weaker Section Candidates</label>
            </div>
            <div style="font-weight:400;padding-left:5%">
                <label><span style="color: yellowgreen;padding-right: 10px;">5.</span> Community Certificate for Disadvantage Group Candidates</label>
            </div>
            <div style="font-weight:400;padding-left:5%">
                <label><span style="color: yellowgreen;padding-right: 10px;">6.</span> Disadvantaged Group Special Category Certificate</label>
            </div>


        </p-card>
    </div>
    <div class="row w-100" style="padding-top:1%;padding-left:30px;padding-right:10px">
        <div class="col-md-12">
        <p-card>
            
            <label style="font-weight: 700;color:#2d7464">
                சிறந்த அனுபவத்திற்கு ஒன்று குரோம் உலாவி அல்லது Mozilla Firefox உலாவியை பயன்படுத்தவும்*
            </label>
            <span style="font-weight: 600;">
                அமர்வு 2020-21 க்கான ,WS(நலிவடைந்த பிரிவினர்) / DG(வாய்ப்பு மறுக்கப்பட்ட பிரிவினர்) சேர்க்கைக்கு விண்ணப்பம் படிவம் வரை இங்கே பதிவு செய்யவும்.
            </span>
        </p-card>
    </div>
    </div>
   
</div>


<div style="background-color: #2d7464;padding-top:10px" >
    <div class="row w-100">
        <div class="col-md-2"></div>
       <div class="col-md-4">
           <label style="color:white;font-size:16px;font-weight:600;padding-bottom:10px">எங்களை தொடர்பு கொள்ள</label>
           <label style="color:white;font-size:14px;font-weight:400"><i class="fa fa-map-marker" aria-hidden="true" style="padding-right:25px;font-size:20px;"></i> Directorate of Matriculation Schools,</label>
           <!-- <label style="color:white;font-size:14px;font-weight:400;padding-left:36px">Samagra Shiksha,</label> -->
           <label style="color:white;font-size:14px;font-weight:400;padding-left:36px">DPI Campus, College Road,</label>
           <label style="color:white;font-size:14px;font-weight:400;padding-left:36px">Nungambakkam, Chennai - 600006.</label>
           <label style="color:white;font-size:14px;font-weight:400"> <i class="fa fa-phone" aria-hidden="true"  style="padding-right:20px;font-size:20px;"></i>RTE Helpline: 14417</label>
           <label style="color:white;font-size:14px;font-weight:400"><i class="fa fa-envelope" aria-hidden="true"  style="font-size:15px;padding-right:20px"></i>EMAIL GRIEVANCE: rtetnqueries@gmail.com</label>

       </div>
       <div class="col-md-2"></div>
       <div class="col-md-4">
           <label style="color:white;font-size:16px;font-weight:600;padding-bottom:10px">முக்கிய இணைப்பு</label>
           <label style="color:white;font-size:14px;font-weight:500">தனியுரிமை கொள்கை</label>

           
       </div>
    </div>
    <!-- <div class="row w-100" style="padding-top:5px">
        <div class="col-md-2"></div>
       <div class="col-md-4">
           <label style="color:white;font-size:14px;font-weight:400"><i class="fa fa-map-marker" aria-hidden="true" style="padding-right:25px;font-size:20px;"></i> Directorate of Matriculation Schools,</label>
        
           <label style="color:white;font-size:14px;font-weight:400;padding-left:36px">DPI Campus, College Road,</label>
           <label style="color:white;font-size:14px;font-weight:400;padding-left:36px">Nungambakkam, Chennai - 600006.</label>

       </div>
       <div class="col-md-2"></div>
       <div class="col-md-4">
          
       </div>
    </div> -->
    <!-- <div class="row w-100" style="padding-top:5px">
        <div class="col-md-2"></div>
       <div class="col-md-4">
           <label style="color:white;font-size:14px;font-weight:400"> <i class="fa fa-phone" aria-hidden="true"  style="padding-right:20px;font-size:20px;"></i>RTE Helpline: 14417</label>
          

       </div>
       <div class="col-md-2"></div>
       <div class="col-md-4">
         
       </div>
    </div> -->
    <!-- <div class="row w-100" style="padding-top:5px">
        <div class="col-md-2"></div>
       <div class="col-md-4">
           <label style="color:white;font-size:14px;font-weight:400"><i class="fa fa-envelope" aria-hidden="true"  style="font-size:15px;padding-right:20px"></i>EMAIL GRIEVANCE: rtetnqueries@gmail.com</label>
           

       </div>
       <div class="col-md-2"></div>
       <div class="col-md-4">
          
       </div>
    </div> -->


</div>

</div>

<p-dialog header="Resume Application" [(visible)]="display">
    <form [formGroup]="resumeDetailsForm" >
    <div class="row" style="padding-top:5px">
        <div class="col-md-6">
            <label>Registered Id</label>
        </div>
        <div class="col-md-6">
            <input type="text" pInputText class="form-control" formControlName="register_id">
            <p-message severity="error" text="Field is required"
            *ngIf="resumeDetailsForm.controls.register_id.errors && (submitted || resumeDetailsForm.controls.register_id.dirty || resumeDetailsForm.controls.register_id.touched)">
        </p-message>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <label>Password</label>
        </div>
        <div class="col-md-6">
            <input type="password" pInputText class="form-control" formControlName="password">
            <p-message severity="error" text="Field is required"
            *ngIf="resumeDetailsForm.controls.password.errors && (submitted || resumeDetailsForm.controls.password.dirty || resumeDetailsForm.controls.password.touched)">
        </p-message>
        </div>
    </div>
    <div class="text-right save-button">
        <button type="submit" class="btn btn-success" (click)="onResume()">Submit</button>
    </div>
</form>
</p-dialog>
