.head-aln {
    padding-left:10%;
    padding-right:10%;
}
.head-btn {
   padding-right: auto;
   padding-bottom: 10px;
   margin-left: auto;
}
.btn-aln {
  background-color: yellowgreen;
  color:white;
  font-weight: bold;
  font-size:14px;
}
.icon-aln {
    padding-right:5px
}

.search-aln {
    width:auto; 
    height: 85%;
    border: gray 1px solid;
    border-radius: 2px;
    padding-left:2%;
    
}
.back-btn-aln {
   padding-left: auto;
   padding-bottom: 10px;
}