

.custom-layout {
    border:1px solid #f5f2f2;
    background: #f2f7ef;
    border-radius: 5px;  
    margin-top: 20px;
    margin-bottom: 10px;
}
.custom-layout-map {
    margin: 0px;
    border: 2px solid white;
    margin-top: 30px !important;
    border-radius: 10px;
}
.h-0 {
    height: 0px !important;
}
.m-b-20 {
   margin-bottom: 28px;
}
