<div class="head-aln no-scroll">
  <div class="row flex-gap-top">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
      <button class="form-control" style="background-color: yellowgreen; color:white;font-weight:600;font-size:14px" (click)="goToIntakeCapacity()">View Intake Capacity</button>
  </div>
  <div class="col-md-3">
      <button class="form-control" style="background-color: yellowgreen; color:white;font-weight:600;font-size:14px" (click)="viewContactList()">View Contact List</button>
  </div> 
    </div>
  <div class="row row-aln">
    <div class="col-md-2 img-aln">
        <img src="assets/img/logo.svg" class="exam-img" alt="Logo Image" />
    </div>
    <div class="col-md-10 txt-aln">
        <span class="txt1-aln">Government of Tamil Nadu<br>
            School Education Department</span> <br>
        <span class="txt2-aln">
            Online Application for admission under Section 12 (1) (c) of Right of Children to Free and
            Compulsory Education Act, 2009
            will be available from 10 AM on 27th August 2020
        </span>
    </div>
  </div>
  <div class="row row-aln">
   
  </div>
</div>



