.head-txt {
   
    color:white;
    font-weight:bold;
    font-size:17px;
    text-align: center;
}

.head-aln {
    padding-left:10%;
    padding-right:10%;
}

.head-row {
    padding-top:5px;
    padding-bottom:5px;
}

.btn-aln {
    background-color: yellowgreen;
    color:white;
    font-weight: bold;
    font-size:14px;
  }
  .icon-aln {
      padding-right:5px
  }
  