.flex-gap-bottom-bg {
    margin-bottom: 2em;
}
.flex-center {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    place-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
   
}