<div class="main-body-content">


<!-- <div class="col-lg-6 flex-gap-bottom">
    <label>Enter your Address</label>
    <input type="text"  pInputText class="form-control" (change)="getLocation($event)">
</div>
<div class="flex-gap-bottom">

</div> -->
<!-- <p-card>
    <div class="easyPrint flex-gap-bottom-bg" id="mapId"></div>
</p-card> -->

</div>
<div class="flex-gap-bottom-bg">

</div>
<!-- <div style="border:1px solid #f5f2f2;background: #f2f7ef;border-radius: 5px; ">
                      
    <div class="row" style="padding-top: 10px;
    padding-left: 15px;">
        <div class="col-md-8">
            <label class="text-bold">Residential address(Should be the same as the address proff
                you are
                submitting)</label><br>
            <span style="color:#2d7464">[வீட்டு முகவரி]</span>
        </div>
        <div class="col-md-4">
            <label class="text-bold">Pincode <span style="color:#2d7464">[அஞ்சல்
                    குறியீடு]</span></label>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;padding-right: 15px;padding-bottom: 15px;
        padding-left: 15px;">

        <div class="col-md-8">
            <input type="text" pInputText class="form-control">
        </div>
        <div class="col-md-4">
            <input type="text" pInputText class="form-control">
        </div>

    </div>
</div><br> -->


<!-- <div style="border:1px solid #f5f2f2;background: #f2f7ef;border-radius: 5px; ">
    <div class="row" style="padding-top: 10px;
    padding-left: 15px;">

        <div class="col-md-8">
            <label class="text-bold">Enter your address or nearest landmark</label>
        </div>
        <div class="col-md-4">
            <label class="text-bold">District<span style="color:#2d7464">[மாவட்டம்]</span></label>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;padding-right: 15px;padding-bottom: 15px;
        padding-left: 15px;">

        <div class="col-md-6">
            <input type="text" pInputText class="form-control" (change)="getLocation($event)">
        </div>
        <div class="col-md-2">
            <input type="text" pInputText class="form-control">
        </div>
        <div class="col-md-4">
            <input type="text" pInputText class="form-control">
        </div>
    </div>
    <div class="row" style="
        padding-left: 15px;">
        <div class="col-md-8">
            <label class="text-bold">Tip: Type your nearest popular area to locate your address
                on the map</label>
        </div>
       
    </div>
    <div class="row easyPrint flex-gap-bottom-bg"  id="mapId"></div>
 
</div> -->

<!-- <div class="text-right" style="padding-top:10px">
    <button type="submit" class="btn btn-success">Save</button>
</div> -->
<!-- <p-card>
    <div class="col-lg-12 row flex-center">
        <div class="flex-column">
            <label>Latitude : {{latitude}}</label> 
            <label>Longtitude: {{longititude}}</label> 
        </div>
      
    </div>
    <div class="col-lg-12 row flex-center">
    {{address}}
    </div>
</p-card>
<div class="flex-gap-bottom">

</div>
<div class="col-lg-12 row flex-center">
        <button type="submit" class="btn btn-outline-primary recover-pass" (click)="getAddressFromLatLng()">
            Get Address
          </button>
</div> -->
