

   .box-shwd {
      box-shadow: 0 2px 6px #7686729e;
    }
     
     .backclr-grn {
      background-color: #075c49;
      color: white;
      padding: 10px;
      margin-bottom: 0px;
    } 
    
     button.btn.btn-success {
      background-color: #075c49;
      border: 1px solid #075c49;
    }
    
    
     .font-16 {
      font-size: 16px;
      font-weight: 500;
    }
    
    .form-controls {
      /* display: block; */
      width: 100%;
      border: 1px solid white;
      height: calc(1.5em + 1.3rem + 5px);
      padding: 0.65rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      //line-height: 1.5;
      /* color: #495057; */
      /* background-color: #fffdcd; */
      background-color: #fff;
      /* background-clip: padding-box; */
      /* border: 1px solid #e2e5ec;
      border-radius: 4px; */
     
  }


  .form-controls-text {
    /* display: block; */
    width: 100%;
    border: 1px solid white;
    height: calc(1.5em + 1.3rem + 5px);
   // padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #495057; */
    /* background-color: #fffdcd; */
    background-color: #fff;
    /* background-clip: padding-box; */
    /* border: 1px solid #e2e5ec;
    border-radius: 4px; */
   
}
  .form-controlss {
    /* display: block; */
    width: 100%;
    border: 1px solid white;
    height: calc(1.5em + 1.3rem + 5px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #495057; */
    /* background-color: #fffdcd; */
    background-color: #fff;
    /* background-clip: padding-box; */
    /* border: 1px solid #e2e5ec;
    border-radius: 4px; */
    text-align:center !important;
  }
    
  label {
      margin-bottom:0px !important;
      margin-top: 7px;
      font-weight: 500;
  }
  
  .row-padding {
      padding-right: 10px;
      padding-left: 10px;
  }
  .text-label-color-bt {
    background-color: #dcffcd;
   
  }
  .text-label-color {
      background-color: #dcffcd;
      border-bottom: 1px solid black;
  }

  .text-label-color-only {
    background-color: #dcffcd;
   
}
  
  .text-label-color-right {
    background-color: #dcffcd;
    border-right: 1px solid black;
  }
  
  .text-label-color-left {
    background-color: #dcffcd;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
  }
  .img-line {
    border-left: 1px solid black;
    border-bottom :1px solid black;
  }
  
  .text-label-color-block {
    background-color: #dcffcd;
    border: 1px solid #dcffcd;
    color: #646c9a;
  }
  
  
  text-input-color-right1{
    color:black;
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
    /* border-bottom: 1px solid Black;  */
    border-right: 1px solid Black;
    display: block;
    /* background-color: #fffdcd; */
    
  }
  
  .text-input-color-s {
    color:black;
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
    border-bottom: 1px solid Black; 
    /* border-left: 1px solid Black; */
    display: block;
    /* background-color: #fffdcd; */
  }
  .text-input-color {
      color:black;
      background-color: #fff;
      padding-right: 0px;padding-left: 0px;
      border-bottom: 1px solid Black; 
      border-left: 1px solid Black;
      display: block;
      /* background-color: #fffdcd; */
  }
  .text-input-color-school {
    color:black;
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
   border-bottom: 1px solid Black; 
  //  border-left: 1px solid Black;
    display: block;
    /* background-color: #fffdcd; */
}
  
  .text-input-color-bottom {
    color:black;
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
    border-bottom: 1px solid Black; 
    /* border-left: 1px solid Black; */
    display: block;
    /* background-color: #fffdcd; */
  }
  
  .text-input-color-sample {
    color:black;
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
    border-bottom: 1px solid Black; 
   /* border-left: 1px solid Black; */
    display: block;
    /* background-color: #fffdcd; */
  }
  
  .text-input-color-lefts {
    color:black;
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
    border-bottom: 1px solid Black; 
    /* border-left: 1px solid Black; */
    display: block;
    /* background-color: #fffdcd; */
  }
  
  
  
  .text-input-color-medium {
    color:black;
    /* background-color: #fffdcd; */
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
    border-bottom: 1px solid Black;
    border-left: 1px solid Black;
  }
  .text-input-color-num {
    color:black;
    /* background-color: #fffdcd; */
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
    border-bottom: 1px solid Black;
    border-right: 1px solid Black;
    text-align: center !important;
  }
  .text-input-colors {
    color:black;
    /* background-color: #fffdcd; */
    background-color: #fff;
    padding-right: 0px;padding-left: 0px;
    border-bottom: 1px solid Black;
    border-right: 1px solid Black;
  }
  
  .border-line {
    border-right: 1px solid Black;
    border-left: 1px solid Black;
   // border-bottom: 1px solid Black;
    border-top: 1px solid Black;
  }
  .border-line1 {
    border-right: 1px solid Black;
    border-left: 1px solid Black;
    border-top: 1px solid Black;
  }
  
  .text-input-colors-num {
    border-right: 1px solid Black;
    padding-left:0px;
    padding-right:0px;
  }


  @media print{
    .doNotPrint{display:none !important;}
  }


  //pdf


  .header-text {
    color: #2c722c !important;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}
.textbox-filter {
    width: 100% !important;
}
.hide {
    display: none !important;
}



.hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 200;
    width: 200;
    /* border: 5px solid #000; */
    /* border-radius: 50%; */
  }
  /* .responsive{
    width: 100%;
    height: auto;
  } */
  .textalignment{
    font-size: 87.5%;
    color: #e83e8c;
    text-align: center !important;
    display: flex;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    height: 200;
    width: 200;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    /*top: 0;
    left:  0;
    bottom: 0;
    right: 0;*/
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }

  .center {
    //display: block;
    display: initial;
    margin-left: auto;
    margin-right: auto;
    
    // width: 50%;
  }

  .center {
    //display: block;
    display: initial;
    margin-left: auto;
    margin-right: auto;
    
    // width: 50%;
  }
  .warn-msg {
    font-style: italic;
    color: #2d7464;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center !important;
    width: 100%;
    line-height: 35px;
  }
  .cancel-btn {
    background-color: red !important;
  }
  .color-red {
    color: #e24343 !important;
    font-size: 16px;
  }
  .disclaimer-text {
    padding-top:10px;
    font-weight:500;
    font-size:10px
  } 