.header-text {
    font-size: 21px;
    cursor:pointer;
}
.outer-layout {
    flex-direction: column;
    align-items: center;
    place-content: center;
    flex-direction: row;
    display: flex;
    place-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-text-layout {
    width: 300px;
    text-align: center;
}
.flex-gap {
    margin:40px 100px 40px;
}
.url {
    cursor: pointer;
}
// .url:hover {
//     background-color: blue;
// }


.exam-img {
    padding-top:5px;
    padding-bottom:5px;
    width: 100px;
    height: 100px;
}