



<div class="outer-layout">
    <p-card (click)="goToExam()" class="url">
      <div  class="header-text-layout">
        <span class="text-center">Click Here for</span>
      </div>
        <div class="header-text-layout">
            <span  class="header-text"><b>ATSL -2020</b></span>
        </div>
      <div class="header-text-layout">
        <span class="text-center">Trial Test</span>
      </div>
      
    </p-card>
</div>
<div class="outer-layout flex-gap">
  <p-card>
      <h3>Instructions for ATSL 2020 Trial Test</h3>
    <ul>
      <li> ATSL 2020 Trial test will start at 2:00 PM on 24th January 2020</li>
      <li> Students can login using their assigned Username & Password</li>
      <li> All questions are of multiple choice type</li>
      <li> The questions will be displayed one by one</li>
      <li> The student has to select one of the choices and click on “Next”</li>
      <li> After clicking “Next” the student cannot go back to change the answer</li>
      <li> After completing 90 questions, the student has to click on “Complete Test”</li>
      <li> Each student can take the test only once</li>
      <li> If the student closes, or clicks refresh or if the internet connection is lost during the exam, the student will have to Restart the exam. It is not possible to continue the previously started test. </li>
    </ul>
  </p-card>
  </div>
