<!--left menu section with logo-->
<!-- <link href="../../../../assets/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />
<script src="../../../../assets/js/demo1/scripts.bundle.js" type="text/javascript"></script> -->
<!-- <app-leftmenu></app-leftmenu> -->

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt-content" [ngClass]="{'expandRightSide': !isOpen}">
    <!--header section with breadcrumb-->
    <app-header></app-header>
    <router-outlet></router-outlet>
</div>

